<p style="color: green"><%= notice %></p>

<h1 class="mt-5"><%= @note.title %></h1>

<p><%= @note.content %></p>


<div class="btn btn-success btn-sm mt-2 mb-5">
  <%= link_to "Voltar para Mural de recados", notes_path, class:"btn btn-primary btn-sm" %>
</div>
