// Specific CSS for your home-page
.logo {
  width: 35px;
  height: 35px;
}

.box {
  border-radius: 5px;
}

.card #card-image {
  width: 100%;
  height: 200px;
}

.card {
  border: transparent;
}

.card-area {
  height: 450px;
}
