// Import page-specific CSS files here.
@import "home";

.container {
    position: relative;
    padding: 10px;
    width: 100%;
    overflow:hidden;
}

.content {
    background-color: $light-gray;
    padding-bottom: 60px;
    padding-top: 20px;
}

.card {
    margin: 10px;
    margin-top: 15px;
    background: #F7F8FD;                     
    padding: 30px;                           
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    background-color: #F7F8FD;
}

.recados {
    position: relative;
    width: 480px;
    text-align: center;  
}

.agendamentos {
    position: relative;
    width: 480px;
    text-align: center;
    height: 160px;
    background: #F7F8FD;                     
    padding: 30px;                           
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.left {
    position: relative;
    width: 600px;
    float:left;
    padding:10px;
    margin-left: 85px;
    background-color: $light-gray;
}

.right {
    position: relative;
    width: 690px;
    height: 665px;
    background-color: $light-gray;
}

.container .preview-documentos {
    position: relative;
    width: 320px;
    text-align: center;
    float:left;
    height: 297px;
    background: white;                     
    padding: 30px;                           
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-top: 40px;
}

.container .preview-agenda {
    position: relative;
    width: 320px;
    text-align: center;
    height: 297px;
    background: white;                     
    padding: 30px;                           
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-top: 40px;

}

.container .preview-formularios {
    position: relative;
    width: 320px;
    text-align: center;
    float:left;
    height: 297px;
    background: white;                     
    padding: 30px;                           
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-top: 10px;
}

.container .preview-chat {
    position: relative;
    width: 320px;
    text-align: center;
    height: 297px;
    background: white;                     
    padding: 30px;                           
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-top: 10px;
}

.cards {
    background-color: $light-gray;
    color: #3D405B;
}

.header {
    margin-left: 50px;
    color: #3D405B;
    padding-bottom: 10px;
}

.logo {
    height: 45px;
    float: left;
    margin-right: 15px;
}