// Import page-specific CSS files here.
@import "home";

.container {
    position: relative;
    padding: 10px;
    border-style: inset;
    width: 100%;
    margin-bottom: 10px;
    overflow:hidden;
}

.card1 {
    margin: 50px;
}

.card2 {
    margin: 50px;
}

.recados {
    position: relative;
    width: 480px;
    text-align: center;  
}

.agendamentos {
    position: relative;
    width: 480px;
    text-align: center;
    height: 160px;
}

.left {
    position: relative;
    width: 600px;
    float:left;
    height:100%;
    padding:10px;
    margin: 10px;
}

.right {
    position: relative;
    width: 670px;
    height:100%;

    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    margin-top: 18px;
}

.container .preview-documentos {
    position: relative;
    width: 320px;
    text-align: center;

    float:left;
    height: 297px;
}

.container .preview-agenda {
    position: relative;
    width: 320px;
    text-align: center;
    height: 297px;

}

.container .preview-formularios {
    position: relative;
    width: 320px;
    text-align: center;

    float:left;
    height: 297px;
}

.container .preview-chat {
    position: relative;
    width: 320px;
    text-align: center;

    height: 297px;
}
