<div class="row">
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-75" src="https://i.ibb.co/WVLtMkt/undraw-add-document-re-mbjx.png" alt="documentos">
      </div>
      <div class="card-body">
        <h6 class="subtitle">Documentos</h6>
        <p class="card-text"><small>Acesso rápido aos principais documentos e atas.</small></p>
        <%= link_to "Ir para Documentos", documents_path, class:"btn btn-primary btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-75" src="https://i.ibb.co/MkFDC9J/undraw-Online-calendar-re-wk3t.png" alt="agenda">
      </div>
      <div class="card-body">
        <h6 class="subtitle">Agenda</h6>
        <p class="card-text"><small>Calendário mensal de eventos e atividades.</small></p>
        <%= link_to "Ir para Agenda", notes_path, class:"btn btn-primary btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-75" src="https://i.ibb.co/hFWK6Kv/undraw-goal-0v5v.png" alt="pessoa jogando futebol">
      </div>
      <div class="card-body">
        <h6 class="subtitle">Reserva</h6>
        <p class="card-text"><small>Enviar pedido de locação das áreas comuns.</small></p>
        <%= link_to "Ir para Reserva", new_meeting_path, class:"btn btn-primary btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-75" src="https://i.ibb.co/ZTxpr1H/undraw-Online-shopping-re-k1sv.png" alt="commerce">
      </div>
      <div class="card-body">
        <h6 class="subtitle mt-0">Bazar</h6>
        <p class="card-text"><small>Compre, venda, anúncie seu serviço!</small></p>
        <%= link_to "Ir para o Bazar", detachments_path, class:"btn btn-primary btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
</div>
