<div class="row">
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-100" src="https://i.ibb.co/WVLtMkt/undraw-add-document-re-mbjx.png" alt="documentos">
      </div>
      <div class="card-body">
        <h5 class="subtitle">Documentos</h5>
        <p class="card-text">Acesso rápido aos principais documentos e atas.</p>
        <%= link_to "Ir para Documentos", notes_path, class:"btn btn-success btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-100" src="https://i.ibb.co/MkFDC9J/undraw-Online-calendar-re-wk3t.png" alt="agenda">
      </div>
      <div class="card-body">
        <h5 class="subtitle">Agenda</h5>
        <p class="card-text">Calendário mensal de eventos e atividades.</p>
        <%= link_to "Ir para Agenda", notes_path, class:"btn btn-success btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-100" src="https://i.ibb.co/hFWK6Kv/undraw-goal-0v5v.png" alt="pessoa jogando futebol">
      </div>
      <div class="card-body">
        <h5 class="subtitle">Formulários</h5>
        <p class="card-text">Enviar pedido de locação das áreas comuns.</p>
        <%= link_to "Ir para Formulários", notes_path, class:"btn btn-success btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-area shadow-sm mb-3">
      <div class="mt-2 text-center">
        <img class="card-image w-100" src="https://i.ibb.co/02f0FZB/undraw-Chat-re-re1u.png" alt="chat">
      </div>
      <div class="card-body">
        <h5 class="subtitle">Chat</h5>
        <p class="card-text">Converse em tempo real com seus vizinhos!</p>
        <%= link_to "Ir para Chat", notes_path, class:"btn btn-success btn-sm position-absolute bottom-0 start-50 translate-middle" %>
      </div>
    </div>
  </div>
</div>
