<div class="container">
    <div class="header">
        <h1>Apartamento (9)</h1>
    </div>
    <div class="container left">
        <div class="container recados">
            <h2>Últimos recados</h2>
            <div class="card1">
                <h2>Card</h2>
                <p>infos</p>
                <p>button</p>
            </div>
            <div class="card2">
                <h2>Card</h2>
                <p>infos</p>
                <p>button</p>
            </div>
        </div>
        <div class="container agendamentos">
            <div class="meus-agendamentos">
                <h2>Meus agendamentos</h2>
                <p>Churrasqueira   01/01/2023</p>
                <p>Salão de festas   01/01/2023</p>
            </div>
        </div>
    </div>
    <div class="container right">    
        <div class="container preview-documentos">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
        <div class="container preview-agenda">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
        <div class="container preview-formularios">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
        <div class="container preview-chat">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
    </div>
</div>
