<div class="content">
    <div class="header">
        <a href="https://ibb.co/0G35WSJ"><img src="https://i.ibb.co/0G35WSJ/Capture-d-cran-1.png" alt="home-logo" class="logo" border="0" /></a>
        <h1>APARTAMENTO ...</h1>
    </div>
    <div class="container left">
        <div class="container cards">
            <h2>Últimos recados</h2>
            <div class="card">
                <h2>Card</h2>
                <p>infos</p>
                <p>button</p>
            </div>
            <div class="card">
                <h2>Card</h2>
                <p>infos</p>
                <p>button</p>
            </div>
        </div>
        <div class="container agendamentos">
            <div class="meus-agendamentos">
                <h2>Meus agendamentos</h2>
                <p>Churrasqueira   01/01/2023</p>
                <p>Salão de festas   01/01/2023</p>
            </div>
        </div>
    </div>
    <div class="container right">    
        <div class="container preview-documentos">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
        <div class="container preview-agenda">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
        <div class="container preview-formularios">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
        <div class="container preview-chat">
            <h2>Card</h2>
            <p>infos</p>
            <p>button</p>
        </div>
    </div>
</div>

