<div class="wrapper">
  <div class= "container">
    <div class="d-flex justify-content-start mt-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3176/3176395.png" alt="documents-logo" class="logo mt-3">
      <h1 class= "title mx-3">Eventos do mês</h1>
    </div>

    <%= month_calendar(events: @schedules, end_attribute: :end_time) do |date, schedules| %>
      <p><%= date %></p>
      <% schedules.each do |schedule| %>
        <div class="meeting">
          <small><small><p><%= schedule.name %> - <strong><%= schedule.kind %></strong></p></small></small>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
