<div class= "container">
  <div class= "title">
    <h1>EVENTOS DO MÊS</h1>
  </div>

<%= month_calendar(events: @schedules, end_attribute: :end_time) do |date, schedules| %>
  <p><%= date %></p>
  <% schedules.each do |schedule| %>
  <div class="meeting">
    <p><%= schedule.name %> - <strong><%= schedule.kind %></strong></p>
  </div>
  <% end %>
<% end %>
