<div class= "container">
  <div class="d-flex justify-content-start mt-4">
    <img src="https://cdn-icons-png.flaticon.com/512/3176/3176395.png" alt="documents-logo" class="logo mt-3">
    <h1 class= "title mx-3">Eventos do mês</h1>
  </div>

    <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
</div>
