<div class="footer-morador mt-4">
  <div class="footer-morador-links">
    <a href="https://github.com/lmartinhao"><i class="fab fa-github" alt="Lola Martinhão"></i></a>
    <a href="https://github.com/Marcusalvesrocha"><i class="fab fa-github"></i></a>
    <a href="https://github.com/Mariane95"><i class="fab fa-github"></i></a>
    <a href="https://github.com/imparatox"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-morador-copyright">
    <small>Esta aplicação foi feita com <i class="fas fa-heart"></i> pelo <strong>Batch 1040</strong> na Le Wagon</small>
  </div>
</div>
