<div class="footer">
  <div class="footer-logo">
    <img class="logo" src="https://i.ibb.co/9GNqNy1/2.png">
    <img class="logo-2" src="https://i.ibb.co/FmyhFSp/1.png">
  </div>

  <div class="footer-card">
    <ul class="footer-list">
      <li><strong>Nossos condomínios parceiros:</strong></li>
      <li><a href="#">Residencial Oregon</a></li>
      <li><a href="#">Condomínio Safira</a></li>
      <li><a href="#">Condomínio Jardim Primavera</a></li>
    </ul>
  </div>

  <div class="footer-card">
    <ul class="footer-list">
      <li><strong>Fale conosco:</strong></li>
      <li><a href="#">Chat</a></li>
      <li><a href="#">Telefones</a></li>
    </ul>
  </div>

  <div class="footer-links">
    <ul class="footer-list">
      <li><strong>Acesse nossas mídias:</strong></li>
        <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        </li>
    </ul>
  </div>
</div>
