<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%if user_signed_in?%>
  <%=current_user.full_name%>
  <%=link_to "signout", destroy_user_session_path, data: {turbo_method: :delete}%>
<% else %>
  <%=link_to "log in", new_user_session_path%>
<%end%>
<div class="general-info">
</div>

<div class="condo-docs">
</div>

<div class="condo-areas">
</div>

<div class="condo-agenda">
</div>

<div class="general-messages">
</div>
