<div class="landing-card general-info">

  <div>
  <img src="https://i.ibb.co/bdz83fy/5722.jpg" alt="vizinhos em comunidade">
  </div>

</div>

<div class="landing-card condo-messages">
</div>

<div class="landing-card condo-docs">
</div>

<div class="landing-card condo-areas">
</div>

<div class="landing-card condo-agenda">
</div>
