
<div class="wrapper">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-8">
        <div class="form-login mb-4">
          <h2 class="mt-5 mb-3 title"><%= @detachment.title %></h2>
          <p><%= @detachment.description %></p>
          <%= cl_image_tag @detachment.photo.key, crop: :thumb, gravity: :face, class: "dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="mt-5 mb-5">
            <%= link_to "Voltar ao Bazar", detachments_path, class:"btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
