.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.schedule {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.schedule:hover {
  background: #1BCB7F;
  color: white;
}
