.landing-card {
  height: 700px;
}

.general-info {
  background-color: $light-gray;
}

.condo-docs {
  background-color: $green;
}

.condo-areas {
  background-color: $dark-blue;
}

.condo-agenda {
  background-color: $yellow;
}

.condo-messages {
  background-color: $orange;
}
