.landing-card {
  height: 700px;
}

.general-info {
  background-color: $yellow;
}

.condo-docs {
  background-color: $green;
}

.condo-areas {
  background-color: $dark-blue;
}

.condo-agenda {
  background-color: $yellow;
}

.condo-messages {
  background-color: $orange;
}

.landing-text {
  width: 600px;
  font-family: "Montserrat";
  font-size: 40px;
  color: $orange;
  text-transform: uppercase;
}

.typed-letters {
  font-size: 80px;
  padding-left: 70px;
  margin-top: -20px;
}
