.navbar-vizinapp {
  justify-content: space-between;
  background: white;
}

.navbar-vizinapp .navbar-collapse {
  flex-grow: 0;
}

.navbar-vizinapp .navbar-brand img {
  width: 70px;
}

.navbar {
  background: #F7F8FD;
  height: 80px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.navbar .btn {
  color: #81B29A;

  &:hover {
    color: #E07A5F;
  }
}

.navbar .btn-success {
  color: #F7F8FD;

  &:hover {
    color: #F7F8FD;
    background: #E07A5F;
    border-color: #E07A5F;
  }
}

.condo-user-type {
  margin-top: 5px;
  color: $dark-blue;
  font-weight: bold;
  background-color: $yellow;
  padding: 4px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 4px;
  margin-right: 3px;
}

.dropdown-menu {
  line-height: 40px;
  background-color: $yellow;
}
