.navbar-vizinapp {
  background: $yellow;
}

.navbar-vizinapp .navbar-collapse {
  flex-grow: 0;
  padding-top: 10px;
}

.navbar {
  height: 60px;
  padding: 30px;
  width: 100%;
}

.nav-link {
  color: $orange;

  &:hover {
    color: $green;
  }
}

.condo-user-type {
  margin-top: 5px;
  color: $dark-blue;
  font-weight: bold;
  background-color: $orange;
  padding: 4px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 4px;
  margin-right: 3px;
}

.dropdown-menu {
  line-height: 40px;
  background-color: $yellow;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.active {
  background-color: $orange;
  color: white !important;
  border-radius: 10px;
}
