.title {
  color: $orange;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle {
  color: $green;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
